<style>
  .modal-content {
    background-color: #212121!important;
  }
</style>

<!-- MORE INFO -->
<div
  class="modal fade"
  id="Modal-MoreInfo-{{ item.id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="MoreInfo_ModalLabel">{{ item.name }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ item.description }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- PURCHASE CONFIRM -->
<div
  class="modal fade"
  id="Modal-PurchaseConfirm-{{ item.id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PurchaseConfirm_ModalLabel">Confirm Purchase</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h4>Are you sure you want to buy {{ item.name }} for {{ "{:,} VND".format(item.price) }}?</h4>
        <br>
        <p>By clicking Confirm Purchase, you will purchase this item.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <form method="POST">
          {{ purchase_form.hidden_tag() }}
          <input id="purchased_item" name="purchased_item" type="hidden" value="{{ item.id }}">
          {{ purchase_form.submit(class="btn btn-outline-success") }}
        </form>
      </div>
    </div>
  </div>
</div>