{% extends "base.html" %}

{% block title %}
    Register Page
{% endblock title %}

{% block content %}
   <div class="container text-center">
        <form method="POST" action="" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control mb-2", placeholder='Username') }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control mb-2", placeholder='Email Address') }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control mb-2", placeholder='Password') }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control mb-2", placeholder='Confirm Password') }}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
   </div>
{% endblock content %}